{{!-- Lista de todos los productos agregados --}}
<div>
    <h1>
        {{nombre}}, esta es una lista de todos los productos agregados:
    </h1>
    <div>
        <h3>
            Productos del cart con id {{{idCart}}}:
        </h3>
        <h3>
            {{{productos}}}
        </h3>
    </div>
</div>
